@tailwind base;
@tailwind components;
@tailwind utilities;


.pagination .page-item .page-link {
    color: #ffc107;
    background-color: #1a1a2e;
    border: 1px solid #ffc107;
}

.pagination .page-item.active .page-link {
    color: #1a1a2e;
    background-color: #ffc107;
    border: 1px solid #ffc107;
}

.pagination .page-item.disabled .page-link {
    color: #6c757d;
    background-color: #1a1a2e;
    border: 1px solid #6c757d;
}